[Desktop Entry]
X-SnapInstanceName=flameshot
Name=Flameshot (Snappy Edition)
Name[zh_CN]=火焰截图 (Snappy Edition)
GenericName=Screenshot tool
GenericName[zh_CN]=屏幕截图工具
GenericName[pl]=Zrzuty ekranu
GenericName[fr]=Outil de capture d'écran
GenericName[nl]=Schermfotoprogramma
GenericName[nl_NL]=Schermfotoprogramma
GenericName[ja]=スクリーンショットツール
GenericName[ru]=Создание скриншотов
GenericName[sk]=Nástroj na zachytávanie obrazovky
GenericName[sr]=Снимач екрана
GenericName[uk]=Інструмент скриншотів
GenericName[es]=Herramienta de captura de pantalla
GenericName[pt_BR]=Ferramenta de captura de tela
Comment=Powerful yet simple to use screenshot software.
Comment[zh_CN]=强大又易用的屏幕截图软件
Comment[pl]=Proste w użyciu narzędzie do zrzutów ekranu
Comment[fr]=Logiciel de capture d'écran puissant et simple d'utilisation.
Comment[nl]=Een eenvoudig doch krachtig schermfotoprogramma.
Comment[nl_NL]=Een eenvoudig doch krachtig schermfotoprogramma.
Comment[ja]=パワフルで使いやすいスクリーンショットソフトウェア。
Comment[ru]=Простой и функциональный инструмент для создания скриншотов
Comment[sk]=Mocný, no zároveň jednoduchý softvér na zachytávanie obrazovky.
Comment[sr]=Једноставан, а моћан алат за снимање екрана
Comment[uk]=Потужний простий у використанні додаток для створення знімків екрану.
Comment[es]=Software de captura de pantalla potente y fácil de usar.
Comment[de]=Schlichte, leistungsstarke Screenshot-Software
Comment[pt_BR]=Software de captura de tela poderoso, mas simples de usar.
Keywords=flameshot;screenshot;capture;shutter;
Keywords[zh_CN]=flameshot;screenshot;capture;shutter;截图;屏幕;
Keywords[fr]=flameshot;capture d'écran;capter;shutter;
Keywords[ja]=flameshot;screenshot;capture;shutter;スクリーンショット;キャプチャー;
Keywords[nl]=flameshot;schermfoto;screenshot;schermafdruk;vastleggen;schermopname;
Keywords[nl_NL]=flameshot;schermfoto;screenshot;schermafdruk;vastleggen;schermopname;
Keywords[es]=flameshot;screenshot;capture;shutter;captura;
Keywords[de]=flameshot;screenshot;Bildschirmfoto;Aufnahme;
Keywords[pt_BR]=flameshot;screenshot;captura de tela;captura;shutter;
Exec=env BAMF_DESKTOP_FILE_HINT=/var/lib/snapd/desktop/applications/flameshot_flameshot.desktop /snap/bin/flameshot
Icon=/snap/flameshot/183/usr/local/share/icons/hicolor/scalable/apps/org.flameshot.Flameshot.svg
Terminal=false
Type=Application
Categories=Graphics;
StartupNotify=false
StartupWMClass=flameshot
Actions=Configure;Capture;Launcher;

[Desktop Action Configure]
Name=Configure (Snappy Edition)
Name[zh_CN]=配置 (Snappy Edition)
Name[pl]=Konfiguruj (Snappy Edition)
Name[fr]=Configurer (Snappy Edition)
Name[ja]=設定 (Snappy Edition)
Name[ru]=Настройки (Snappy Edition)
Name[sk]=Nastaviť (Snappy Edition)
Name[nl]=Instellen (Snappy Edition)
Name[nl_NL]=Instellen (Snappy Edition)
Name[sr]=Подешавања (Snappy Edition)
Name[uk]=Налаштувати (Snappy Edition)
Name[es]=Configurar (Snappy Edition)
Name[de]=Einstellungen (Snappy Edition)
Name[pt_BR]=Configurar (Snappy Edition)
Exec=env BAMF_DESKTOP_FILE_HINT=/var/lib/snapd/desktop/applications/flameshot_flameshot.desktop /snap/bin/flameshot config

[Desktop Action Capture]
Name=Take screenshot (Snappy Edition)
Name[zh_CN]=进行截图 (Snappy Edition)
Name[pl]=Zrzut ekranu (Snappy Edition)
Name[fr]=Prendre une capture d'écran (Snappy Edition)
Name[ja]=スクリーンショットを撮る (Snappy Edition)
Name[ru]=Сделать скриншот (Snappy Edition)
Name[sk]=Zachytiť obrazovku (Snappy Edition)
Name[sr]=Сними екран (Snappy Edition)
Name[uk]=Зробити знімок (Snappy Edition)
Name[nl]=Schermfoto maken (Snappy Edition)
Name[nl_NL]=Schermfoto maken (Snappy Edition)
Name[es]=Tomar captura de pantalla (Snappy Edition)
Name[de]=Bildschirmfoto aufnehmen (Snappy Edition)
Name[pt_BR]=Capturar tela (Snappy Edition)
Exec=env BAMF_DESKTOP_FILE_HINT=/var/lib/snapd/desktop/applications/flameshot_flameshot.desktop /snap/bin/flameshot gui --delay 500

[Desktop Action Launcher]
Name=Open launcher (Snappy Edition)
Name[de]=Starter öffnen (Snappy Edition)
Name[nl]=Starter openen (Snappy Edition)
Name[nl_NL]=Starter openen (Snappy Edition)
Name[sk]=Otvoriť spúšťač (Snappy Edition)
Name[zh_CN]=打开启动器 (Snappy Edition)
Name[pt_BR]=Abrir lançador (Snappy Edition)
Exec=env BAMF_DESKTOP_FILE_HINT=/var/lib/snapd/desktop/applications/flameshot_flameshot.desktop /snap/bin/flameshot launcher

